@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;400;500&family=Nunito:wght@300;400;600;700&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}
.logo{
  height:18vh;
  width: 17vw;
}
header{
  display: flex;
  justify-content: space-evenly;
  background: rgb(42, 187, 206);
  width: 100%;
}
ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 30vw;
  
}
a{
   text-decoration:none;
   color:white;
   text-transform: capitalize;
}
.container-main{
  display: flex;
}
.container-figure{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 120vw;
  height: 60vw;
}
.container-figure img{
  width: 20vw;
}
.container-content img{
  width: 70vw;
}
.box-news{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(42, 187, 206);
  height: 10vh;
  text-transform: uppercase;
  color:white;
}
.container-about{
  display: flex;
}
.box-about{
  width: 50vw;
}
footer{
  background: rgb(42, 187, 206);

  
}
